* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #F08787;
  color: #080808;
}

/* GLOBAL */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

/* HEADER */
.header {
  background: #C8AAAA;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  color: #574964;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #574964;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 4rem 0;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.hero img {
  width: 100%;
  border-radius: 12px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #9F8383;
  color: #020617;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
}

/* PROJECT */
.project {
  padding: 4rem 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  background: #C8AAAA;
  padding: 1.5rem;
  border-radius: 12px;
}

/* CONTACT */
.contact {
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px;
  background: #C8AAAA;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.contact-item span {
  word-break: break-word;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .contact-item {
    font-size: 14px;
    padding: 12px 14px;
  }
}

/*RESUME */
.resume {
  padding: 4rem 0;
  text-align: center;
}

.resume-box {
  background: #9F8383;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
}


/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem;
  background: #C8AAAA;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #C8AAAA;
    position: absolute;
    top: 60px;
    right: 5%;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

